html {
  cursor: url(../images/cursor.svg), auto;
}

button, button:hover {
  cursor: url(../images/cursor.svg), auto;
}

section, main, header, footer, body {
  overflow-x: hidden;
}

.section {
  overflow-y: hidden;
}

/* INDEX PAGE */

.light-page {
  background-color: white;
}

.main-nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

.menu_bcg {
  position: absolute;
  width: 58vw;
  height: 3.281vw;
  background-color: white;
  filter: blur(10px);
  z-index: 1;
}

.menu_bcg_dark {
  position: absolute;
  width: 56.4vw;
  height: 3.281vw;
  background-color: rgb(113 103 91 / 38%);
  filter: blur(10px);
  z-index: 1;
  margin-left: -0.5vw;
  margin-top: -0.5vw;
}

.main_nav_items {
  width: 56.406vw;
  display: flex;
  justify-content: space-between;
  font-size: 2.8vw;
  font-family: 'Inter';
  font-weight: 500;
  align-items: center;
  top: 2vw;
  letter-spacing: -0.1vw;
  line-height: 86%;
}

.main_nav_items a {
  text-decoration: none;
  color: black;
  z-index: 3;
}

.main-page-first {
  position: relative;
  width: 100%;
  height: 86.016vw;
  overflow: hidden;
}

.main-background-image {
  width: 100%;
  height: 86.016vw;
  background: url(../images/mainpagebcg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.5s ease; 
  z-index: 1;
}

.main-title {
  position: relative;
  z-index: 2; 
  font-family: 'Inter';
  font-weight: 600;
  color: black;
  font-size: 20.516rem;
  text-align: center;
  margin-top: 30%;
  cursor: default;
  animation: scale auto linear;
  animation-timeline: scroll(root);
  letter-spacing: -1vw;
  line-height: 101%;
}

@keyframes scale {
  0% {scale: 1;}
  10% {scale: 0.7;}
  50% {scale: 0.1;}
}

.main-page-first:hover .background-image {
  filter: blur(10px);
}

.main-items {
  margin-left: 7vw;
  margin-top: 5vw;
  display: grid;
  grid-template-columns: 26.484vw 24.375vw 27.5vw;
  grid-template-rows: 28.516vw 36.484vw;
  gap: 0 3vw;
}

.main-items img {
  margin-bottom: 2vw;
  margin-top: 2vw;
  transition: 0.3s ease;
}

.items-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  color: black;
  font-size: 1.563vw;
  line-height: 131%;
  letter-spacing: -0.075vw;
}

.items-grid p {
  opacity: 0;
}

.block-1 img:hover {
  scale: 1.2;
  rotate: 5deg;
}
.block-2 img:hover {
  scale: 1.2;
  rotate: -5deg;
}
.block-3 img:hover {
  scale: 1.2;
  rotate: 5deg;
}
.block-4 img:hover {
  scale: 1.2;
  rotate: -5deg;
}
.block-5 img:hover {

  scale: 1.2;
  rotate: 5deg;
}

.block-1 img:hover ~ .block-1-p {
  opacity: 1;
}
.block-2 img:hover ~ .block-2-p {
  opacity: 1;
}
.block-3 img:hover ~ .block-3-p {
  opacity: 1;
}
.block-4 img:hover ~ .block-4-p {
  opacity: 1;
}
.block-5 img:hover ~ .block-5-p {
  opacity: 1;
}

/* LIGHT FOOTER */

.light-footer {
  width: 100%;
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5.469vw;
  background-image: url(../images/footer_letter.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-yellow-block {
  position: absolute;
  width: 33.594vw;
  height: 15vw;
  background-color: #E4DA4D;
  padding-top: 1.5vw;
  margin-left: -63vw;
  margin-top: 37vw;
}

.footer-yellow-block p {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 101%;
  color: black;
  font-size: 1.563vw;
  margin-left: 1.406vw;
  letter-spacing: 0.03vw;
}

/* DARK FOOTER */

.dark-footer {
  width: 100%;
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5.469vw;
  background-image: url(../images/footer_letter_white.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

/* EVENTS PAGE */

.dark-page {
  background-color: #222121;
}

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-left: 7.3vw;
  margin-top: 5vw;
}

.nav_items {
  width: 54.609vw;
  display: flex;
  justify-content: space-between;
  font-size: 2.8vw;
  font-family: 'Inter';
  font-weight: 500;
  top: 2vw;
  color: white;
  letter-spacing: -0.1vw;
  line-height: 86%;
}

.nav_items a {
  text-decoration: none;
  color: white;
  z-index: 3;
}

.event-main {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 74.766vw 73.438vw 56.172vw 19.844vw 34.375vw 43.594vw 19.922vw 56.172vw 17.344vw;
}

.event-1-sec h1 {
  color: white;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10vw;
  margin: 50% 20%;
}

.event-1-sec p {
  color: white;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 2.813vw;
  margin-top: -10%;
  margin-left: 55%;
  line-height: 113%;
}

.event-2-sec {
  background-image: url(../images/event-1pic.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(2px);
  transition: 0.5s ease;
}

.event-2-sec:hover {
  filter: blur(0);
}

.event-3-sec {
  background-image: url(../images/event-2pic.png);
  background-size: 101%;
  background-repeat: no-repeat;
  filter: blur(2px);
  transition: 0.5s ease;
}

.event-3-sec:hover {
  filter: blur(0);
}

.event-4-sec {
  display: flex;
  align-items: center;
}

.event-4-sec p {
  color: white;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 131%;
  letter-spacing: -0.075vw;;
  margin-left: 2.5vw;
}

.event-5-sec, .event-6-sec {
  grid-column: span 2;
}

.event-5-sec > video {
  width: 100%;
}

.event-6-sec {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-6-sec h2 {
  font-family: 'Inter';
  font-size: 2.813vw;
  font-weight: 500;
}

.event-6-sec p {
  font-family: 'Inter';
  font-size: 1.875vw;
  font-weight: 400;
  text-align: center;
  line-height: 112%;
  letter-spacing: -0.075vw;
}

.event-8-sec {
  overflow: hidden;
}

.event-8-sec video {
  width: 125%;
}

.event-7-sec {
  grid-row: span 2;
  background-image: url(../images/event-4pic.png);
  background-size: 104%;
  background-repeat: no-repeat;
  filter: blur(2px);
  transition: 0.5s ease;
}

.event-7-sec:hover {
  filter: blur(0);
}

.event-9-sec {
  background-image: url(../images/event-5pic.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(2px);
  transition: 0.5s ease;
}

.event-9-sec:hover {
  filter: blur(0);
}

.event-10-sec p {
  color: white;
  font-family: 'Inter';
  font-size: 2.813vw;
  font-weight: 400;
  letter-spacing: -0.1vw;
  line-height: 112%;
  margin: 2.5vw;
}

.event-11-sec p {
  color: white;
  font-family: 'Inter';
  font-size: 1.875vw;
  font-weight: 400;
  letter-spacing: -0.075vw;
  line-height: 112%;
  margin-top: 15.234vw;
  margin-left: 19.5vw;
}

.event-12-sec {
  grid-column: span 2;
  overflow: hidden;
  background-image: url(../images/event-3pic.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(2px);
  transition: 0.5s ease;
}

.event-12-sec:hover {
  filter: blur(0);
}

.event-12-sec video {
  margin-top: -5vw;
}

.event-13-sec p {
  color: white;
  font-family: 'Inter';
  font-size: 1.875vw;
  font-weight: 400;
  letter-spacing: -0.075vw;
  margin-top: 2.5vw;
  margin-left: 7%;
}

.event-footer {
  margin-top: -7.5vw;
}

/* SHOP PAGE */

.light-nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-left: 7.3vw; 
  margin-top: 5vw;
}

.light-nav-items {
  width: 54.609vw;
  display: flex;
  justify-content: space-between;
  font-size: 2.8vw;
  font-family: 'Inter';
  font-weight: 500;
  top: 4.4vw;
  color: white;
  letter-spacing: -0.1vw;
  line-height: 86%;
}

.light-nav-items a {
  text-decoration: none;
  color: white;
  z-index: 3;
}

.shop-main-sec {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 77.656vw;
}

.shop-main-sec:hover > div:not(:hover) {
  filter: blur(10px);
}

.shop-main-sec > div {
  transition: filter 0.4s;
}

.shop-main-sec1 {
  background-image: url(../images/shop-main-pic1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
}

.shop-main-sec2 {
  background-image: url(../images/shop-main-pic2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.shop-title {
  position: absolute;
  margin-top: -50vw;
  margin-left: 28.75vw;
  font-family: 'Inter';
  color: white;
  font-size: 10vw;
  font-weight: 600;
}

/* items */

.shop-block {
  display: grid;
  grid-template-columns: 17.266vw 18.125vw 18.828vw 19.453vw;
  grid-template-rows: 27vw 30vw 28vw 28vw 27vw;
  gap: 1vw 3.8vw;
  font-family: 'Inter';
  font-weight: 500;
  color: black;
  font-size: 1.563vw;
  line-height: 131%;
  letter-spacing: -0.075vw;
  margin-top: 8.594vw;
  margin-left: 8vw;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}

.shop-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-items p {
  position: absolute;
  opacity: 0;
}

.item-1-p, .item-17-p, .item-7-p {
  top: 104%;
}

.item-2-p {
  top: 128%;
}

.item-3-p {
  top: 130%;
}

.item-4-p, .item-6-p {
  top: 103%;
}

.item-5-p, .item-10-p {
  top: 113%;
}

.item-8-p {
  top: 112%;
}

.item-9-p {
  top: 117%;
}

.item-11-p {
  top: 129%;
}

.item-12-p {
  top: 108%;
}

.item-13-p {
  top: 135%;
}

.item-14-p {
  top: 155%;
}

.item-15-p {
  top: 106%;
}

.item-16-p {
  top: 109%;
}

.shop-items img {
  width: 100%;
  transition: 0.3s ease;
}

.item-1 img {
  width: 17.266vw;
}
.item-1 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-1 img:hover ~ .item-1-p {
  opacity: 1;
}

.item-2 img {
  width: 17.813vw;
}
.item-2 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-2 img:hover ~ .item-2-p {
  opacity: 1;
}

.item-3 img {
  width: 16.797vw;
}
.item-3 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-3 img:hover ~ .item-3-p {
  opacity: 1;
}

.item-4 img {
  width: 15.234vw;
}
.item-4 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-4 img:hover ~ .item-4-p {
  opacity: 1;
}

.item-5 img {
  width: 13.75vw;
}
.item-5 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-5 img:hover ~ .item-5-p {
  opacity: 1;
}

.item-6 img {
  width: 18.125vw;
}
.item-6 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-6 img:hover ~ .item-6-p {
  opacity: 1;
}

.item-7 img {
  width: 18.594vw;
}
.item-7 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-7 img:hover ~ .item-7-p {
  opacity: 1;
}

.item-8 img {
  width: 17.344vw;
}
.item-8 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-8 img:hover ~ .item-8-p {
  opacity: 1;
}

.item-9 img {
  width: 17.031vw;
}
.item-9 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-9 img:hover ~ .item-9-p {
  opacity: 1;
}

.item-10 img {
  width: 8.695vw;
}
.item-10 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-10 img:hover ~ .item-10-p {
  opacity: 1;
}

.item-11 img {
  width: 17.656vw;
}
.item-11 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-11 img:hover ~ .item-11-p {
  opacity: 1;
}

.item-12 img {
  width: 17.578vw;
}
.item-12 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-12 img:hover ~ .item-12-p {
  opacity: 1;
}

.item-13 img {
  width: 16.484vw;
}
.item-13 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-13 img:hover ~ .item-13-p {
  opacity: 1;
}

.item-14 img {
  width: 14.203vw;
}
.item-14 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-14 img:hover ~ .item-14-p {
  opacity: 1;
}

.item-15 img {
  width: 17.656vw;
}
.item-15 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-15 img:hover ~ .item-15-p {
  opacity: 1;
}

.item-16 img {
  width: 18.047vw;
}
.item-16 img:hover {
  scale: 1.1;
  rotate: -5deg;
}
.item-16 img:hover ~ .item-16-p {
  opacity: 1;
}

.item-17 img {
  width: 8.359vw;
}
.item-17 img:hover {
  scale: 1.1;
  rotate: 5deg;
}
.item-17 img:hover ~ .item-17-p {
  opacity: 1;
}


/* BOOK */

.book-first-section p {
  text-align: center;
  color: white;
  font-size: 1.328vw;
  font-family: 'Inter';
  font-weight: 400;
}

.book-first-section {
  padding-bottom: 5vw;
}

.book-first-section h1 {
  margin-top: 19vw;
  margin-left: 8.6vw;
  color: white;
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 600;
}

.books {
  height: 54vw;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books img {
  position: absolute;
  width:  45vw;
}

.book-page-1 {
    filter: blur(4px);
}

.book-page-2 {
  rotate: -5deg;
  filter: blur(3px);
}

.book-page-3 {
  rotate: 13deg;
  filter: blur(2px);
  transition: 1s ease;
}

.book-page-3:hover {
  filter: blur(0);
  rotate: 10deg;
  scale: 1.1;
}

.pages-slider {
  position: relative;
  width: 100vw;
  overflow-y: hidden;
}
        
.scroll-container {
  display: flex;
  gap: 3vw;
  padding: 0 calc(50vw - 30.45vw);
  overflow-x: auto;
  scroll-behavior: smooth; 
  scroll-snap-type: x mandatory; 
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
        
.scroll-container img {
  width: 50vw;
  flex-shrink: 0;
  border-radius: 12px;
  transition: transform 0.3s ease;
  scroll-snap-align: center;
}
   
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 773px;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 100; 
}

.control-btn-left {
  left: 0;
}
.control-btn-right {
  right: 0;
}

/* ABOUT US PAGE */

.about-first-section {
  width: 100%;
  height: 100vw;
}

.about-first-section h1 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15vw;
  color: white;
  margin-left: 7%;
  margin-top: 14%;
  letter-spacing: -0.1vw;
}

.about-first-section p {
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.875vw;
}

.about-first-section h1 ~ p {
  margin-left: 7%;
  margin-top: 1vw;
  margin-bottom: 3.3vw;
}

.video-container {
  position: relative;
}

#unmuted-vid {
  width: 84.766vw;
  margin-left: 7%;
  margin-bottom: 1.6vw;
}

.about-contacts-p {
  display: flex;
  width: 84.766vw;
  margin-left: 7%;
  justify-content: space-between;
  align-items: last baseline;
  text-align: right;
}

#unmute-button {
  width: 84vw;
  height: 47vw;
  position: absolute;
  left: 7.5%;
  top: 81.5%;
  opacity: 0;
  z-index: 100;
}

/* CART PAGE */

.cart-nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-left: 7.3vw; 
  margin-top: 5vw;
}

.cart_nav_items {
  width: 54.609vw;
  display: flex;
  justify-content: space-between;
  font-size: 2.8vw;
  font-family: 'Inter';
  font-weight: 500;
  top: 2vw;
  letter-spacing: -0.1vw;
  line-height: 86%;
}

.cart_nav_items a {
  text-decoration: none;
  color: #222121;
  z-index: 3;
}

.cart-main-section h1 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10vw;
  margin-top: 20.5%;
  margin-left: 7%;
  color: #222121;
}

.cart-data-block {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  height: 21.5vw;
  margin-left: 5%;
  gap: 7.8vw;
}

.cart-added {
  width: 40.5vw;
  display: flex;
  flex-direction: column;
}

.cart-customer-data {
  width: 40.5vw;
  display: flex;
  flex-direction: column;
}

.keys-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keys-cart img {
  width: 6vw;
}

hr {
  width: 40vw;
  border: 1px solid black;
  margin: 5% 0;
}

.cart-main-section p {
  font-family: 'Inter';
  font-size: 1.17vw;
}

.keys-cart p {
  font-weight: 500;

}

.total-cost {
  font-weight: 600;
  margin-left: 74%;
}

.cart-customer-data {
  font-weight: 400;
  font-family: 'Inter';
  font-size: 1.17vw;
}

.order {
  color: black;
  font-family: 'Inter';
  font-size: 3vw;
  font-weight: 600;
  background: transparent;
  border: none;
  margin-left: 20vw;
}

.order:hover {
  font-weight: 700;
  cursor: pointer;
}

input {
  border: none;
  font-size: 1.17vw;
}

